.reveal .slides section {
    background-size: contain !important;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.background-section {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
}

.verso {
    font-family: 'American typewriter';
    /*font-style: italic;*/
    font-weight: bold;
    font-size: 50px;
    color: white ;
    -webkit-text-stroke: 3px #1e422b;
    }
    
}